thead th:nth-child(1) {
	width: 2%;
}

thead th:nth-child(2) {
	width: 10%;
}

thead th:nth-child(3) {
	width: 10%;
}

thead th:nth-child(4) {
	width: 10%;
}

thead th:nth-child(5) {
	width: 10%;
}

th {
	border-top: 1px solid #dee2e6;
}

th,

td {
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
	min-height: 60px;
	text-align: center;
}

