.exchanges__img-name {
   display: flex;
   gap: 20px;
   justify-content: flex-start;
   align-items: center;
}

.exchanges__img {
   width: 25px;
   height: 25px;
   display: inline-block;
}

.exchanges__name {
   text-align: left;
}

.exchanges__trust {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.trust__progres-line {
   width: 100px;
   height: 10px;
   background-color: rgb(238, 238, 238);
   border-radius: 5px;
}

.trust__inner-progress-line {
   height: 100%;
   background-color: #4eaf09;
   border-radius: 5px;
}
