thead th:nth-child(1) {
   width: 2%;
}

thead th:nth-child(2) {
   width: 5%;
}

thead th:nth-child(3) {
   width: 15%;
}

thead th:nth-child(4) {
   width: 10%;
}

thead th:nth-child(5) {
   width: 5%;
}
thead th:nth-child(6) {
   width: 5%;
}
thead th:nth-child(7) {
   width: 5%;
}
thead th:nth-child(8) {
   width: 12%;
}
thead th:nth-child(9) {
   width: 16%;
}

thead th:nth-child(10) {
   width: 15%;
}

th {
   border-top: 1px solid #dee2e6;
}

th,
td {
   padding: 10px;
   border-bottom: 1px solid #dee2e6;
   height: 65px;
   text-align: center;
}

th {
   cursor: pointer;
}

.ASC:after {
   content: '▲';
   font-size: 10px;
}

.DESC:after {
   content: '▼';
   font-size: 10px;
}
