.footer {
	border-top: 2px solid #dee2e6; ;
	padding-top: 15px;
	padding-bottom: 15px;

}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__git-links {
	display: flex;
	gap: 20px;
}

.footer__git-img {
	width: 40px;
	height: 40px;
}

.footer__rs-img {
	height: 40px;
	width: 40px;
}

.footer__year {
	margin-right: 100px;
	font-size: 20px;
}
